# Composer files
node_modules/

# Local configs
.env

# logs Folder
logs/

# netbean
nbproject/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
